.catalog {
  position: relative;
  padding: 119px 0 120px;
  background-color: $color-ghost-white;
  text-align: center;
  z-index: 0;

  @include vp-1199 {
    padding: 98px 0 100px;
  }

  @include vp-767 {
    padding: 71px 0;
  }

  img {
    position: absolute;
    width: 287px;
    height: 494px;
    object-fit: cover;
    object-position: left center;
    overflow: hidden;
    bottom: -150px;
    right: 0;
    z-index: -1;


    @include vp-1199 {
      width: 347px;
      height: 444px;
      bottom: -126px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.catalog h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $ff-custom;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-left: -15px;
    margin-bottom: 21px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-left: -10px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }
}

/* No JS */

.catalog[data-js="no-js"] {
  .catalog__list {
    display: grid;
    row-gap: 60px;
  }

  [data-tab-controls] {
    display: none;
  }

  [data-tab] {
    position: relative;
  }

  [data-tab]::before {
    content: attr(data-content);
    position: absolute;
    top: -2%;
    left: -2%;
    padding: 10px;
    font-family: $ff-custom;
    font-size: 25px;
    letter-spacing: 0.02em;
    background-image: $custom-faded-blue-to-right;
    background-color: $color-default-white;
    color: $color-default-white;

    @include vp-1199 {
      top: 5%;
      left: 15%;
    }

    @include vp-767 {
      top: -1%;
      left: 1%;
    }
  }
}

.catalog ul {
  padding: 0;
  list-style-type: none;
}

[data-tab-controls] {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 343px;
  margin: 0 auto;
  margin-bottom: 50px;

  @include vp-1199 {
    width: 334px;
    margin-bottom: 53px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-grey-transparent;
    bottom: -12px;

    @include vp-1199 {
      bottom: -10px;
    }

    @include vp-767 {
      bottom: -14px;
    }
  }

  button {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    line-height: 30px;
    color: $color-sapphire-transparent;
    border: none;
    background-color: $color-transparent;
    outline: none;
    cursor: pointer;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 24px;
    }

    @include hover-focus {
      color: $color-default-navy;
    }
  }
}

[data-tab-control].is-active {
  position: relative;

  button {
    color: $color-default-navy;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-torch-red;
    bottom: -12px;
    left: 0;

    @include vp-1199 {
      bottom: -10px;
    }

    @include vp-767 {
      bottom: -14px;
    }
  }
}

[data-tab] {
  margin: 0;
  display: none;
}

[data-tab].is-active {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 360px));
  gap: 3vw;
  z-index: 1;

  @include vp-1199 {
    grid-template-columns: 65%;
    justify-content: center;
    gap: 40px;
  }

  @include vp-767 {
    grid-template-columns: 100%;
  }
}

[data-tab] li {
  padding: 50px 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;

  @include vp-1199 {
    padding-top: 51px;
    padding-bottom: 59px;
  }

  @include vp-767 {
    padding-top: 41px;
    padding-bottom: 44px;
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    border-image: $custom-red-to-right 1;

    a {
      color: $color-default-white;
      background-image: $custom-red-to-right;
      border: none;
      outline: none;
    }
  }
}

[data-tab] dl {
  margin-bottom: 67px;

  @include vp-767 {
    margin-bottom: 55px;
  }
}

[data-tab] dt {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;

  @include vp-767 {
    margin-bottom: 9px;
    font-size: 22px;
    line-height: 24px;
  }
}

[data-tab] dd {
  margin: 0;
}

[data-tab] b {
  position: relative;
  display: block;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  z-index: 1;

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 72px;
  }

  &::before {
    position: absolute;
    content: attr(data-price);
    top: -24px;
    left: -20px;
    font-weight: 700;
    font-size: 100px;
    color: $color-whisper;
    opacity: 0.47;
    z-index: -1;

    @include vp-767 {
      top: -46px;
      left: -16px;
      font-size: 80px;
      line-height: 120px;
    }
  }
}

[data-tab] .button {
  margin-top: auto;
  width: 15vw;
  max-width: 206px;
  min-height: 66px;
  line-height: 14px;
  user-select: none;

  @include vp-1199 {
    width: 27vw;
    max-width: none;
  }

  @include vp-767 {
    width: 82%;
  }
}

[data-tab] svg {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}
