.intro {
  padding: 50px 0 52px;
  background-image: $custom-conic-desktop;
  color: $color-default-white;

  @include vp-1199 {
    padding: 82px 0;
    background-image: $custom-conic-tablet;
  }

  @include vp-767 {
    padding: 110px 0 141px;
    background-image: $custom-conic-mobile;
  }
}

.intro__container {
  display: grid;
  grid-template-columns: 397px auto;
  gap: 63px;

  @include vp-1199 {
    grid-template-columns: 324px auto;
    gap: 30px;
    justify-content: center;
  }
}

.intro__info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 113px;
  margin-bottom: 49px;

  @include vp-1199 {
    margin-top: 51px;
    margin-bottom: 38px;
  }

  @include vp-767 {
    max-width: 90%;
    margin: 0;
    margin-bottom: 24px;
    margin-left: auto;
  }
}

.intro ul {
  padding: 0;
  margin-top: auto;
  margin-bottom: 35px;
  margin-left: 19px;
  list-style-type: none;
  text-align: end;
  align-self: center;

  @include vp-1199 {
    margin-left: 0;
    margin-bottom: 18px;
  }

  @include vp-767 {
    min-width: 113px;
    margin-right: 0;
    margin-bottom: 29px;
    margin-left: -8px;
  }
}

.intro li {
  font-size: 14px;
  line-height: 21px;

  @include vp-767 {
    margin-right: -5px;
  }
}

.intro div {
  text-align: end;
}

.intro p {
  margin: 0 51px 13px 0;
  font-family: $ff-custom;
  font-weight: 600;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-1199 {
    margin-right: 6px;
    margin-bottom: 3px;
    font-size: 29px;
    line-height: 41px;
  }

  @include vp-767 {
    margin: 0 5px 10px 0;
    font-size: 26px;
    line-height: 34px;
  }
}

.intro h1 {
  padding: 0;
  margin: 0;
  font-family: $ff-custom;
  font-weight: 800;
  font-size: 92px;
  line-height: 110px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: end;
  word-break: break-word;

  @include vp-1199 {
    font-size: 72px;
    line-height: 86px;
    text-transform: none;
  }

  @include vp-767 {
    margin-left: 0;
    letter-spacing: 0.03em;
  }
}

.intro a {
  width: 234px;
  min-height: 59px;
  padding: 19px;
  margin-left: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  user-select: none;

  @include vp-1199 {
    width: 57%;
  }

  @include vp-767 {
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    padding: 20px;
  }
}

.intro img {
  @include vp-1199 {
    max-width: 324px;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 324 / 390;
  }

  @include vp-767 {
    display: none;
  }
}
